
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoValidate</title>
</head>
<body>
    <h1>1111111111111111111</h1>
</body>
</html>
